<h1>{{_id ? 'Edit Blog Entry' : 'New Blog Entry'}}</h1>

<form [formGroup]="_blogForm">

  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Text</mat-label>
    <textarea matInput cdkTextareaAutosize formControlName="text"></textarea>
  </mat-form-field>

  <button mat-stroked-button color="primary" (click)="createOrEditBlogEntry()" *ngIf="!_id">
    <mat-icon>send</mat-icon> Posten!
  </button>
  <button mat-stroked-button color="primary" (click)="createOrEditBlogEntry()" *ngIf="_id">
    <mat-icon>check</mat-icon> Save
  </button>

</form>
