:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mat-sidenav-container {
  flex: 1 1 auto;

  & .mat-sidenav {
    min-width: 20%;
  }
}

section.content-section {
  padding: 2em;
}
