<h2>Suggestions</h2>

<button mat-raised-button [routerLink]="['new']" color="primary">
  <mat-icon>add</mat-icon> New suggestion
</button>

<section class="suggestion-list">
  <mat-spinner *ngIf="!($suggestions | async)"></mat-spinner>
  <h3 *ngIf="($suggestions | async)?.length === 0">
    <mat-icon>info</mat-icon> There are no suggestions existing yet!
  </h3>
  <mat-card *ngFor="let suggestion of ($suggestions | async); let i = index">
    <mat-card-title>{{suggestion.title}}</mat-card-title>
    <mat-card-subtitle>created: {{suggestion.createdAt | date}} <span
        *ngIf="suggestion.createdAt !== suggestion.updatedAt">, last updated: {{suggestion.updatedAt | date}}</span>
    </mat-card-subtitle>
    <mat-card-content>
      {{suggestion.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button [color]="suggestion.liked ? 'primary' : ''" (click)="likeClick(i, suggestion)">
        <mat-icon>thumb_up</mat-icon> {{suggestion.likes}} Like{{suggestion.likes === 1 ? '' :'s'}}
      </button>
      <button mat-button *ngIf="(globalStateService.user | async)?._id === suggestion.author._id"
        [routerLink]="['edit', suggestion._id]">
        <mat-icon>edit</mat-icon> Edit
      </button>
      <button mat-button *ngIf="(globalStateService.user | async)?._id === suggestion.author._id" color="warn"
        (click)="deleteSuggestion(i, suggestion._id)">
        <mat-icon>delete</mat-icon> Delete
      </button>
    </mat-card-actions>
  </mat-card>
</section>
