<h1>Blog
  <span class="spacer"></span>
</h1>
<a mat-button [routerLink]="['new']" *ngIf="globalStateService.$user | async" color="accent">
  <mat-icon>add</mat-icon> Create new blog entry
</a>

<h3 *ngIf="tag">
  Filtered for
  <mat-chip-list>
    <a mat-chip [removable]="true" (removed)="removeTag()">{{tag}}
      <a matChipRemove>
        <mat-icon>cancel</mat-icon>
      </a>
    </a>
  </mat-chip-list>
</h3>

<mat-card *ngIf="blogEntries && blogEntries.length == 0">
  <mat-icon>info</mat-icon>Sorry, there are no blog entries written yet.
</mat-card>

<mat-card *ngFor="let blogEntry of blogEntries; let i = index">
  <a mat-card-title-group [routerLink]="[blogEntry._id]">
    <mat-card-title>{{blogEntry.title}}</mat-card-title>
    <mat-card-subtitle>{{blogEntry.createdAt | date}}</mat-card-subtitle>
  </a>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="preview" [innerHtml]="blogEntry.preview"></div>
    <mat-chip-list [selectable]="true">
      <a mat-chip *ngFor="let tag of blogEntry.tags" [routerLink]="['.']" [queryParams]="{ tags: [tag]}">{{tag}}</a>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions *ngIf="globalStateService.$user | async" align="end">
    <button mat-button color="accent" [routerLink]="['edit', blogEntry._id]">
      <mat-icon>edit</mat-icon> Edit
    </button>
    <button mat-button color="warn" (click)="removeBlogEntry(i, blogEntry._id)">
      <mat-icon>delete</mat-icon> Delete
    </button>
  </mat-card-actions>
</mat-card>
